@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.flag-image {
    height: 27px;
    margin-top: 5px;
    margin-left: 10px;
}
#preloader {
    display: block;
    position: absolute;
    top: 50%;
    left: 42%;
    width: 300px;
    height: 200px;
    background: url(../img/Iphone-spinner-2.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
table {
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
    background: #e9cfd0;
    margin: 0 auto;
}
td {
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
    text-align: center;
}
#flag {
    text-align: center;
}